main{
    padding: 0px !important;
    margin: 0px !important;
}
#main{
    padding: 0px !important;
    margin: 0px !important;
}
aside{
    display: none !important;
}
a:hover{
    transition: .3s;
    color: var(--wpsmp-primary-color);
}
#wpsmp_preloadder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999 !important;
    background-color: #0000007d;
    display: none;
}

#wpsmp_loader {
    position: fixed;
    left: 49%;
    top: 50%;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    -webkit-animation: spin 3.5s linear infinite;
    animation: spin 3.5s linear infinite
}

#wpsmp_loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    border-top: 3px solid #e74c3c;
    border-radius: 50%;
    -webkit-animation: spin 2.5s linear infinite;
    animation: spin 2.5s linear infinite
}

#wpsmp_loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 15px;
    border-top: 3px solid #f9c922;
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

div#wpsmpmain {
    background: #e6dade;
    width: 100%;
}
.smpheader {
    height: 200px;
    align-items: center;
}
h1.smph1{
    color: #fff;
    font-size: 40px;
}
h1.smph1, h4.smp4 {
    margin: 15px 0px;
    font-weight: 500;
}
h5.smph5 {
    margin: 0;
    padding-bottom: 3px;
    padding-top: 3px;
    font-weight: 500;
}
h5.smph5 a{
    display: block;
    text-decoration: none;
    border-bottom: 1px solid;
}
.smpheader {
    height: 200px;
    align-items: center;
    background: linear-gradient(180deg, var(--wpsmp-primary-color), transparent);
}
.projectimg {
    height: 160px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
span.wpsmp-excerpt {
    font-weight: 300;
    margin-bottom: 3px;
}
.badge-wpsmp{
    background-color: var(--wpsmp-primary-color);
    color: #fff;
}
.projectimg {
    position: relative;
}
.wpsmpover{
    position: absolute;
    transition: .3s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 99;
    background: linear-gradient( 50deg, #e6dade, #e6dadec9, rgb(255 255 255 / 0) 100%);
}
small.wpsmp-likebtn {
    position: absolute;
    right: 5px;
    font-size: 20px;
    top: 0px;
    z-index: 99;
}
small.wpsmp-likebtn:hover{
    color: var(--wpsmp-primary-color);
}
.fusion-row {
    min-width: 100% !important;
}

.btn-outline-primary{
    color: var(--wpsmp-primary-color);
    border-color: var(--wpsmp-primary-color);
}

.btn-outline-primary:hover{
    color: white;
    background-color: var(--wpsmp-primary-color);
    border-color: white;
}
.search_project{
    display: flex;
    justify-content: center;
}
.input-wrap {
    border-radius: 25px !important;
    width: 40%;
    box-shadow: 0 1px 6px 1px #415973;
    border-color: orangered !important;
    border: 2px solid;
    overflow: hidden;
}
.p_search_inp {
    border-radius: 25px !important;
    padding: 0px 12px;
    width: 100%;
    border: 2px solid;
    overflow: hidden;
    border-color: grey;
}
.projects_filters {
    margin-top: 35px;
    margin-bottom: 35px;
}
.projects_filters select{
    border-radius: 25px;
}
.projects_filters .form-group {
    height: fit-content;
    margin-bottom: 0px;
}
@media only screen and (max-width: 578px){
    .mt-sm-2{
        margin-top: 2rem !important;
    }
}
@media (min-width: 0px){
    .wpsm.container {
        width: unset !important;
    }
}